*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .ring{
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #24ecff;
    animation: rotate 3s linear infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.container .ring::before{
    position: absolute;
    content: '';
    top:12px;
    right:12px;
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color: #24ecff;
    box-shadow: 0 0 0 5px #24ecff33,
    0 0 0 10px #24ecff22,
    0 0 0 20px #24ecff11,
    0 0 20px #24ecff
    ;
}
.container .ring:nth-child(2)::before{
    position: absolute;
    content: '';
    top:initial;
    bottom:12px;
    left:12px;
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color: #93ff2d;
    box-shadow: 0 0 0 5px #93ff2d33,
    0 0 0 10px #93ff2d22,
    0 0 0 20px #93ff2d11,
    0 0 20px #93ff2d
    ;
}
.container .ring:nth-child(2){
    animation: rotate2 3s linear infinite;
    animation-delay: -1s;
    border-top: 4px solid transparent;
    border-left: 4px solid #93ff2d;
}
@keyframes rotate2{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0);
    }
}


.container .ring:nth-child(3){
    position: absolute;
    top:-66.66px;
    animation-delay: -2s;
    border-top: 4px solid transparent;
    border-left: 4px solid #e41cf8;
    animation: rotate2 3s linear infinite;
}

.container .ring:nth-child(3)::before{
    position: absolute;
    content: '';
    top:initial;
    bottom:12px;
    left:12px;
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e41cf8;
    box-shadow: 0 0 0 5px #e41cf833,
    0 0 0 10px #e41cf822,
    0 0 0 20px #e41cf811,
    0 0 20px #e41cf8
    ;
}





.container p{
    position: absolute;
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: -100px;
    color: white;
    letter-spacing: 6px;
    left:50%;
    transform: translateX(-50%);
}